# ===============================
# Database
# ===============================
DB_ROOT_PASSWORD=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# ===============================
# Flask
# ===============================
FLASK_SECRET_KEY=
FLASK_DEBUG=

# ===============================
# Security scan providers
# ===============================
VIRUSTOTAL_API_KEY=
URLSCAN_API_KEY=

# ===============================
# Celery
# ===============================
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TASK_SERIALIZER=
CELERY_RESULT_SERIALIZER=
CELERY_WORKER_MAX_TASKS_PER_CHILD=
CELERY_RESULT_CHORD_JOIN_TIMEOUT=
CELERY_CONCURRENCY=

# ===============================
# Flower
# ===============================
CELERY_FLOWER_USER=
CELERY_FLOWER_PASSWORD=
